@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");

* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
}

:root {
  --ff--body: sans-serif;
  --ff--temp: "Playfair", "serif";

  --clr--header-dark: rgb(37, 19, 96);
  --clr--header-light: rgb(70, 90, 184);
  --clr--button-search: rgb(105, 145, 227);
  --clr--forecast-box: rgb(216, 215, 215);

  --clr--font-dark: black;
  --clr--font-light: white;
}

body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff--body);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;
  background: linear-gradient(
    90deg,
    rgba(0, 212, 255, 1) 0%,
    rgba(152, 213, 241, 1) 50%,
    rgba(32, 141, 200, 1) 100%
  );

  width: 100%;
}

/* ================================================== */
/*             ------------ Header ----------         */
/* ================================================== */

header {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    to right,
    rgb(70, 90, 184),
    rgb(37, 19, 96)
  ); */
  color: var(--clr--font-light);
  width: 100%;
  /* padding: 2em; */
  gap: 1em;
  height: 100px;
  overflow-y: hidden;
  object-position: bottom;
}

video {
  width: 100vw;
}

.header-detail {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-title {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.wmw-icon {
  border: 1px solid #48c2f9;
  width: 50px;
}

/* ================================================== */
/*           ---------- MAIN CONTENT ---------        */
/* ================================================== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 2.25em;
}

.searchNav {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
  gap: 2em;
}

.searchNav button {
  /* display: flex; */
  padding: 0.25em;
  width: fit-content;
}

.searchNav form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5em;
}

#search {
  display: flex;
  border: 1px solid #48c2f9;
  border-radius: 1em;
  width: 100%;
  font-size: 1em;
  height: 30px;
  padding: 0 0.25em;
}

.search-history-wrapper {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 0.5em;
  padding: 1em 0;
}

.search-history-list {
  display: flex;
  gap: 0.5em;
}

.search-term {
  border: 1px solid lightgrey;
  padding: 0.25em;
  border-radius: 0.25em;
}

.clear-history {
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 0.25em;
  border-radius: 0.25em;
}

.weather-results {
  display: flex;
  flex-direction: column;

  width: 95%;
  gap: 1em;
  /* padding: 1em 0.5em; */
}

.weather-today {
  display: flex;
  flex-direction: column;
  border: 1px solid grey;
  gap: 1em;
  padding: 0.25em;
  background-color: rgb(255, 255, 255);
}

.weather-today-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5em;
}

.weather-today-header h3 {
  font-size: 1.25em;
}

/* .weather-today-header img {
  display: flex;
  align-items: start;
  width: 40px;
} */

.weather-today-temp-icon {
  display: flex;
  align-items: center;
  padding: 1em 0;
}

.weather-today-temp-icon p {
  font-family: var(--ff--temp);
  font-size: 3em;
}

.weather-today-temp-icon img {
  width: 65px;
}

.weather-today-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.five-day-forecast-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding: 1em 0;
}

.five-day-forecast {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  gap: 1.25em;
}

.five-day-forecast-wrapper h3 {
  font-size: 1.25em;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 32%;
  border-radius: 0.1em;
  background-color: var(--clr--forecast-box);
  padding: 0.5em;
  line-height: 1.5em;
}

.weather-card img {
  width: 50px;
}

.weather-card p {
  color: black;
  font-size: 1em;
}

@media screen and (min-width: 1200px) {
  h1 {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    height: 150px;
  }

  h1 {
    font-size: 2.25em;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .five-day-forecast {
    gap: 1.75em;
  }

  .weather-card {
    width: 48%;
  }

  .searchNav {
    width: 380px;
    /* padding: 0 0 1em 0; */
  }

  .search-history-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
  }

  header {
    height: 150px;
  }

  h1 {
    font-size: 2em;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .weather-card {
    width: 100%;
  }

  .weather-card img {
    width: 10%;
  }

  .searchNav {
    width: 380px;
    /* padding: 0 0 1em 0; */
  }

  .search-history-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
  }

  h1 {
    font-size: 1.5em;
  }

  header {
    height: 150px;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .weather-card {
    width: 100%;
  }

  .weather-card img {
    width: 10%;
  }

  .searchNav {
    width: 260px;
    /* padding: 0 0 1em 0; */
  }
  .search-history-wrapper {
    flex-wrap: wrap;
  }

  .weather-today-header {
    flex-direction: column;
  }
}
