* {
  margin: 0;
  padding: 0;
  font-size: 16px;
  border: none;
}

:root {
  --ff--body: sans-serif;

  --clr--header-dark: rgb(37, 19, 96);
  --clr--header-light: rgb(70, 90, 184);
  --clr--button-search: rgb(105, 145, 227);
  --clr--button-city: rgb(174, 174, 175);
  --clr--forecast-box: rgb(50, 61, 79);

  --clr--font-dark: black;
  --clr--font-light: white;
}

body {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff--body);
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: start;

  width: 100%;
}

/* ================================================== */
/*             ------------ Header ----------         */
/* ================================================== */

header {
  display: flex;
  position: sticky;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(
    to right,
    rgb(70, 90, 184),
    rgb(37, 19, 96)
  ); */
  color: var(--clr--font-light);
  width: 100%;
  /* padding: 2em; */
  gap: 1em;
  height: 100px;
  overflow-y: hidden;
  object-position: bottom;
}

video {
  width: 100vw;
}

.header-detail {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.main-title {
  display: flex;
  justify-self: start;
  align-items: center;
  padding: 1em;
  gap: 1em;
}

.wmw-icon {
  width: 50px;
}

/* ================================================== */
/*           ---------- MAIN CONTENT ---------        */
/* ================================================== */

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

h1 {
  font-size: 2em;
}

.searchNav {
  display: flex;
  flex-direction: column;
  width: 50%;
  padding: 1em;
  gap: 2em;
}

.searchNav button {
  /* display: flex; */
  padding: 0.25em;
  width: fit-content;
}

.searchNav form {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 0.5em;
}

#search {
  display: flex;
  border: 1px solid lightgrey;
  border-radius: 1em;
  width: 100%;
  font-size: 1em;
  height: 30px;
  padding: 0 0.25em;
}

.search-history-wrapper {
  display: flex;
  align-items: center;
  width: 95%;
  gap: 0.5em;
  padding: 1em 0;
}

.search-history-list {
  display: flex;
  gap: 0.5em;
}

.search-term {
  border: 1px solid lightgrey;
  padding: 0.25em;
  border-radius: 0.25em;
}

.clear-history {
  border: 1px solid grey;
  background-color: lightgrey;
  padding: 0.25em;
  border-radius: 0.25em;
}

.weather-results {
  display: flex;
  flex-direction: column;

  width: 95%;
  gap: 1em;
  /* padding: 1em 0.5em; */
}

.weather-today {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  gap: 1em;
  padding: 0.25em;
}

.weather-today-header {
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.weather-today-header img {
  display: flex;
  align-items: start;
  width: 25px;
}

.weather-today-stats {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

.five-day-forecast {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-between;
  gap: 1em;
}

.weather-card {
  display: flex;
  flex-direction: column;
  width: 20%;
  border-radius: 0.1em;
  background-color: var(--clr--button-city);
  padding: 0.5em;
  line-height: 1.5em;
}

.weather-card img {
  width: 30%;
}

.weather-card p {
  color: var(--clr--font-light);
  font-size: 0.8em;
}

@media screen and (min-width: 768px) and (max-width: 992px) {
  header {
    height: 150px;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .weather-card {
    width: 44%;
  }

  .weather-card img {
    width: 20%;
  }

  .searchNav {
    width: 380px;
    /* padding: 0 0 1em 0; */
  }

  .search-history-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (min-width: 500px) and (max-width: 768px) {
  main {
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
  }

  header {
    height: 150px;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .weather-card {
    width: 100%;
  }

  .weather-card img {
    width: 10%;
  }

  .searchNav {
    width: 380px;
    /* padding: 0 0 1em 0; */
  }

  .search-history-wrapper {
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 500px) {
  main {
    flex-direction: column;
    align-items: center;
    /* gap: 1em; */
  }

  h1 {
    font-size: 1.25em;
  }

  header {
    height: 150px;
  }

  .header-detail {
    justify-content: center;
    flex-direction: column;
  }

  .weather-card {
    width: 100%;
  }

  .weather-card img {
    width: 10%;
  }

  .searchNav {
    width: 260px;
    /* padding: 0 0 1em 0; */
  }
  .search-history-wrapper {
    flex-wrap: wrap;
  }
}
