* {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --ff--body: sans-serif;

  --clr--header-dark: rgb(37, 19, 96);
  --clr--header-light: rgb(70, 90, 184);
  --clr--button-search: rgb(105, 145, 227);
  --clr--button-city: rgb(174, 174, 175);
  --clr--forecast-box: rgb(50, 61, 79);

  --clr--font-dark: black;
  --clr--font-light: white;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  font-family: var(--ff--body);
}

#root {
  display: grid;
  grid-template-areas:
    "header header"
    "aside weather-container"
    "aside five-day";

  grid-template-rows: 1fr 8fr;
  grid-template-columns: 1fr 4fr;
  width: 90vw;
  border: 1px solid black;
  padding: 0.5em;
  margin: 2em;
}

/* ================================================== */
/*             ------------ Header ----------         */
/* ================================================== */

header {
  grid-area: header;
  display: grid;
  justify-content: center;
  align-content: center;
  background-image: linear-gradient(
    to right,
    rgb(70, 90, 184),
    rgb(37, 19, 96)
  );
  color: var(--clr--font-light);
}

/* ================================================== */
/*           ---------- MAIN CONTENT ---------        */
/* ================================================== */

.weather-container {
  display: flex;
  flex-direction: column;
  padding: 0.5em 0 0 0.5em;
  width: 100%;
}

h1 {
  font-size: 2.25em;
  text-align: center;
}

/* ================================================== */
/*    ---------- ASIDE SEARCH BAR/HISTORY -------     */
/* ================================================== */

aside {
  grid-area: aside;
  display: grid;
  grid-template-rows: 1fr 3fr;
  padding: 0.5em 0 0 0;
  gap: 0.5em;
  width: 100%;
}
